 /*Generic Styling for all pages*/
 body {
     height: 100vh;
     background-image: url("../img/bg.png")
 } /*Red BG Color*/

 h2, h1 {
   padding-top: 10px;
   padding-bottom: 20px;
   text-align: center;
   color: white;
 }



/*Index.html*/
.index {
  height: 100%;
  width: 100%;
  background-image: url("../img/indexbg.png");
  background-position: center center;
  background-size: cover;
 } background image and styling*/

 .view_btn {
     background-color: red;
     text-align: center;
     height: 300px;
     width: 400px;
     font-size: 40px;
     margin-left: 25px;
     margin-top: 300px;
     padding: 5px;
     float: left;
     border-radius: 50%;
 }/*View button height,padding,margins and color*/

  .add_btn {
     background-color: red;
     height: 300px;
     width: 400px;
     font-size: 40px;
     margin-right: 25px;
     margin-top: 300px;
     padding: 5px;
     float: right;
     border-radius: 50%;
 }/*Add button height,padding,margins and color*/

 .view_btn i, .add_btn i {
     font-size: 60px;
     padding: 10px;
 }/*Size increase and padding for the button icons*/
 
/*Add/Edit Form Styling*/
 form {
     background-color: black;
     color: white;
     border-radius: 2%;
 }/*Form bg color, font color and border radius*/

.center-button{
     color: white;
     border: 2px solid white;
     border-radius: 25px;
     width: 20%;
     margin-left: 40%;
     margin-right: 40%;
     line-height: 24px;
}/* font color,border,text aligning and button positioning for add review button*/

.center-button i {
    transform:translateY(-3px);
    margin-left: 0;
    
}

.confirmation-button {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    background-color: black;
    padding-bottom: 40px;
}

 /*Games.html*/
 .collapsible-header {
     background-color: black;
     color: white;
     font-weight: 900;
 }

 .collapsible-body {
      background-color: black;
     color: white;
 }

 .collapsible-body .game_img {
     border: 1px solid white;
     margin-bottom: 10px;
 }

 .description {
     text-align: center;
 }

.collapsible-body a {
    color: white;
    border: 1px solid white;
}

.collapsible-body .buttons {
    text-align: center;
}/*Centering Buttons on games.html page*/

.game-btn {
    border-radius: 25px;
    color: white;
    background-color: black;
    margin-top: 5px;
} /*Buttons on games.html*/



#mobile-demo li a {
    color: white;
}

/*Game_page HTML*/
.game-name {
    font-size: 50px;
    color: white;
    text-align: center;
}
.game-page-image {
     width: 100%;
     height: 100%;
     border: 1px solid black;
 }

.game_text {
    color: white;
}








