 /*Generic Styling for all pages*/
 html,body {
     height: 100%;
     background-image: url("../img/bg.png")
 }/*background image for all pages*/

 * {
     font-family: arial;
 }/*Font family for all text-arial*/

 .nav-wrapper ul li a {
     padding: 10px;
     margin: 10px;
     line-height: 30px;
 }/*padding,margin an line height stylings for the navbar options*/

 .nav-wrapper .brand-logo {
     padding: 10px;
     margin: 10px;
     line-height: 30px;
 }/*padding,margin an line height stylings for the navbar branding*/

 h1, h2 {
   padding-top: 10px;
   padding-bottom: 20px;
   text-align: center;
   color: white;
 } /*padding,color and text aligning for all h1 and h2 elements*/

footer {
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     text-align: center;
     line-height: 30px;
     margin-top: 25px;
 }/*bg color, text color,text aligning,line height and top margin for footer*/

 .wrapper {
     min-height: 100%;
 }/*Sets min height for everything in the body except the footer */



/*all_games HTML*/
.all-games-summary {
    background-color:black;
    height: 130px;
    color: white;
    font-size: 18px;
    padding: 5px;
    border: 1px solid white;
}/*sets the bg color,font color, font size and border for the list elements children. */

.all-games-summary a {
   text-align: center;
   line-height: 20px;
   color: lime;
   margin-left: 15px;
}

.all-games-summary a {
    height: 100%;
}

.all-games-summary i {
    font-size: 35px;
    padding: 5px;
}


.all-games-summary .name_and_rating {
    margin: 15px;
    padding: 10px;
    float: left;;
} /*Margin and padding for unordered list text elements*/

.all_games_list li {
    padding: 10px;
    margin: 15px;
} /*Border, padding and margin for ul elements li children*/



.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.buttons i {
    line-height: 17px;
    font-size: 
}



/*Index.html*/
.index {
  height: 100%;
  width: 100%;
  background-image: url("../img/indexbg.png");
  background-position: center center;
  background-size: cover;
 } background image and styling*/

 .view_btn {
     background-color: red;
     text-align: center;
     height: 300px;
     width: 400px;
     font-size: 40px;
     margin-left: 25px;
     margin-top: 300px;
     padding: 5px;
     float: left;
     border-radius: 50%;
 }/*View button height,padding,margins and color*/

  .add_btn {
     background-color: red;
     height: 300px;
     width: 400px;
     font-size: 40px;
     margin-right: 25px;
     margin-top: 300px;
     padding: 5px;
     float: right;
     border-radius: 50%;
 }/*Add button height,padding,margins and color*/

 .view_btn i, .add_btn i {
     font-size: 60px;
     padding: 10px;
 }/*Size increase and padding for the button icons*/
 
/*Add/Edit Form Styling*/
 form {
     background-color:#696969;
     color: white;
     border-radius: 2%;
 }/*Form bg color, font color and border radius*/

.center-button{
     color: white;
     border: 2px solid white;
     border-radius: 25px;
     width: 20%;
     margin-left: 40%;
     margin-right: 40%;
     line-height: 24px;
}/* font color,border,text aligning and button positioning for add review button*/

.center-button i {
    transform:translateY(-3px);
    margin-left: 0;
    
}

.confirmation-button {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    background-color: black;
    padding-bottom: 40px;
}

 /*Games.html*/
 .collapsible-header {
     background-color: black;
     color: white;
     font-weight: 900;
 }

 .collapsible-body {
      background-color: black;
     color: white;
 }

 .collapsible-body .game_img {
     border: 1px solid white;
     margin-bottom: 10px;
 }

 .description {
     text-align: center;
 }

.collapsible-body a {
    color: white;
    border: 1px solid white;
}

.game-btn {
    width: 120px;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    margin: 5px;
    text-align: center;
} /*Buttons on games.html*/



#mobile-demo li a {
    color: white;
}

/*Game_page HTML*/
.game_page_html {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    padding: 15px;
    margin-top: 15px;
    color: white;
}

.game-name {
    font-size: 50px;
   
    text-align: center;
}
.game-page-image {
     width: 100%;
     height: 100%;
     border: 1px solid white;
 }

.game_text {
    
    margin-top: 5px;
}








