{% extends 'base.html' %}
{% block content %}
<h1>Add a Gaming Platform</h1>
<h2>Cant find the right console to select? Add your console here</h2>
<div class="row">
  <form action = "{{url_for('insert_platform')}}" method = "POST" class="col s12">
    <div class="row">   
      <div class="input-field col s12">
        <i class="material-icons prefix">videogame_asset</i>
        <input name = "platform_name" id="platform_name" type="text" class="validate">
        <label for="game_name">Add your Platform</label>
      </div>
    </div><!--Text Input Area-->
    <div class="row">
      <button class="btn waves-effect waves-light center-button" type="submit" name="action" white>Add Platform
        <i class="material-icons right">add</i>
      </button>
    </div><!--button-->
  </form>
</div><!--Form to add a gaming platform-->
{% endblock %}