{% extends 'base.html' %}
{% block content %}
<h1>All Game Reviews</h1>
<div class="row">
<form action = "{{url_for('search')}}" method = "GET" class="col s12">
    <div class="row">   
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input name = "search_query" id="search_query" type="text" class="validate" required>
        <label for="game_name">Search Games</label>
      </div>
      </div>
      </form>
     </div>
<div class="row">
  <div class="col s12">
    <ul>
      {% for game in games %}
      <li>
        <div class="all-games-summary">
          <div class="row">
            <a href="{{url_for('show_review', game_name=game.game_name)}}"class="waves-effect waves-light btn game-btn">
              <i class="material-icons">remove_red_eye</i>
              <br>
              View Full Review
            </a><!--View Full Review Button-->
            <div class="name_and_rating">
              {{game.game_name}}<br> Rating: {{game.rating}}
            </div><!--Game Name & Rating-->
          </div>
        </div><!--View game button and game name and rating section-->
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


{% endblock %}